body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef2f7;
    height: 80vh;
    margin: 0;
}

.box{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 420px;
}

.box h3{
    text-align: center;
}

.group{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group input {
    width: 350px;
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #ddd;
    border-radius: 10px;    
}

button{
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #4682b4;
    color: #fff;
}

button:hover{
    background-color: #1f618d;
}

.switch_btn{
    background-color: #b3b3b3;
    
}

.switch_btn:hover{
    background-color: #8a8a8a ;
}
.box h5{
    border: solid 1pt #ddd;
    margin-bottom: 0;    
}

.box p{
    font-size: 14px;
    color: #8a8a8a;
}